{include file="header"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a href="{:url('attrcategory/list')}">产品页</a><span class="c-gray en">&gt;</span> 属性名称页 <span class="c-gray en">&gt;</span> 属性页 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		
	<div class="Hui-article">
		<article class="cl pd-20">
			<div>
				<input id="__token__" type="hidden" name="__token__" value="{$Request.token}" />
				<input type="text" placeholder="产品属性" value="" class="input-text" style="width: 120px" id="name">
				<button type="button" class="btn btn-success" id="add"><i class="Hui-iconfont">&#xe600;</i> 添加</button>
				<input type="text" id="attr_id" value="{$id}" name="" hidden>
				<span id="add_span"></span>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></span> 
				<span class="r">共有数据：<strong>54</strong> 条</span> </div>
			<div class="mt-10">
				<table class="table table-border table-bordered table-bg table-sort">
					<thead>
						<tr class="text-c">
							<th width="25"><input type="checkbox" name="" value=""></th>
							<th width="70">ID</th>
							<th width="120">属性</th>
							<th width="100">操作</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</article>
	</div>
</div>
</section>
{include file="footer"}
<script>
	function addshow() {
		var attr_id=$('#attr_id').val()
		$.ajax({
			url:"{:url('attrcategory/addshow')}",
			type:'post',
			data:{
				attr_id:attr_id,
			},
			success:function(res){
				var data=res.data
				var tr=''
				for (var i = 0; i < data.length; i++) {
					tr=tr+"<tr><td><input type='checkbox'></td><td>"+data[i]['id']+"</td><td>"+data[i]['name']+"</td><td class='f-14 product-brand-manage'><a style='text-decoration:none'></a> <a style='text-decoration:none' title='编辑'><i class='Hui-iconfont'>&#xe6df;</i></a> <a style='text-decoration:none' class='delete_one ml-5' value='"+data[i]['id']+"' title='删除'><i class='Hui-iconfont'>&#xe6e2;</i></a></td></tr>"
				}
				$('table tbody').html(tr)
			}
		})
	}
	addshow()
	$(document).ready(function(){
		$('#add').click(function(){
			var __token__=$('#__token__').val()
			var name=$('#name').val()
			var attr_id=$('#attr_id').val()
			$.ajax({
				url:"{:url('attrcategory/addb')}",
				type:'post',
				data:{
					__token__:__token__,
					name:name,
					attr_id:attr_id,
				},
				success:function(res){
					console.log(res)
					$("#name").val('')
					addshow()
				}
			})
		})
	})
</script>

